body {
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding-bottom: 0;
  padding: 0;
  color: #aaaaaa;
}
:root {
  --primary-text-color: #3a3a3a;
}
nav {
  padding: 10px;
  display: flex;
  justify-content: space-between;
}
nav > ul {
  display: flex;
  list-style: none;
  font-size: 17px;
}
nav > ul > li a {
  text-decoration: none;
  color: black;
  padding-left: 10px;
}
.influencer {
  height: 100vh;
  margin-left: 120px;
  margin-right: 165px;
  display: flex;
  gap: 133px;
  align-items: center;
  justify-content: center;
}
.left-part {
  color: var(--primary-text-color);
  display: flex;
  align-items: center;
  flex: 1;
  transition: transform 1s ease-in-out;
}
.left-part:hover {
  transform: scale(1.1);
  overflow: hidden;
}
h1 {
  font-size: 42px;
  margin-bottom: 16px;
}
.button {
  color: white;

  background-color: #e02c6d;
  padding: 10px 24px;
  border-radius: 41px;
  cursor: pointer;
}
.right-part {
  display: flex;
  flex: 1;
  align-items: center;
  justify-content: center;
  transition: transform 1s ease-in-out;
}
.right-part:hover {
  transform: scale(1.1);
  overflow: hidden;
}
.right-part img {
  width: 440px;
  height: 414px;
}
.container {
  width: 1047px;
  margin: 0 auto;
}
.container > h2 {
  color: var(--primary-text-color);
  text-align: center;
  margin: 30px;
}
.collections {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 30px;
  row-gap: 30px;
}
.collection {
  background: white;
  width: 329px;
  height: 476px;
  box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.15);
  transition: transform 0.3s ease-in-out;
}
.collection:hover {
  transform: scale(1.01);
}
.image {
  padding: 15px 17px;
}
.image img {
  width: 100%;
  border-radius: 5px;
}
.information {
  padding: 0 17px;
}
.collection-name {
  color: #18191f;
  font-size: 28px;
  margin: 6px 0px;
}
.price {
  font-size: 24px;
  margin: 0px;
  color: rgba(0, 0, 0, 0.87);
}
.fa-star {
  color: #fb8200;
}
.product-detail {
  margin: 0px;
  font-family: "Inter", sans-serif;
  color: #18191f;
  font-size: 14px;
}
.seemore {
  text-align: right;
  margin-top: 50px;
}
.seemore a {
  text-decoration: none;
  color: #e02c6dde;
}
.own-add-section h2 {
  text-align: center;
}
.feedbacks {
  padding: 50px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
/* .feedbacks h2 {
  text-align: center;
} */
.feedback {
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.15);
  width: 300px;
  padding: 20px;
}
.fa-quote-left {
  font-size: 40px;
  color: #e02c6d;
}
.feedback img {
  width: 40%;
}
.subscribe {
  padding: 50px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 20px;
  align-items: center;
}
.mailbox {
  width: 300px;
  height: 40px;
  transition: all 0.5s ease-in;
}
.mailbox:hover {
  transform: scale(1.03);
  border: 2px solid #e02c6d;
}
.mail-button {
  height: 46px;
  width: 60px;
  background-color: #e02c6d;
  transition: transform 0.5s ease-in;
}
.mail-button:hover {
  transform: scale(1.03);
}
footer {
  height: 100%;
  background-color: #0a0826;
  text-align: center;
}
footer h2 {
  margin: 0px;
}
footer p {
  margin: 3px;
  font-size: 14px;
  font-family: monospace;
  color: #d9dbe1;
}
footer .fab {
  padding: 5px;
}
.footer-detail {
  padding: 50px;
}
